<%= form_with model: @notice, local: true, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <div class="new-items">
    <div class="form-group">
      <div class="weight-bold-text">
        お知らせ名 <span class="required-badge">必須</span>
      </div>
      <%= f.text_area :title, class: "items-text", id: "item-name", placeholder: "お知らせ名（必須 40文字まで)", maxlength: "40" %>
    </div>

    <div class="form-group">
      <div class="items-explain">
        <div class="weight-bold-text">
          お知らせの内容 <span class="required-badge">必須</span>
        </div>
        <%= f.text_area :content, class: "items-text", id: "item-description", placeholder: "お知らせの説明（必須 1,000文字まで）", rows: "7", maxlength: "1000" %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit @notice.persisted? ? "更新" : "登録する", class: "submit-button" %>
    <%= link_to 'もどる', notices_path, class: "cancel-button" %>
  </div>
<% end %>

