<%= render "shared/header", point: @user.point %>

<div class="home-page">
  <section class="featured-products-section"> 
    <div class="mypage-container">

      <div class="coupons-container">
        <div class="section-header">
          <h2 class="section-title">所有クーポン</h2>
        </div>
        <%= render "coupons/coupons", coupons: @coupons %>
      </div>
      
      <div class="favorite-items-container">
        <div class="section-header">
          <h2 class="section-title">お気に入り商品</h2>
        </div>
        <%= render "items/products_favorites", items: @items %>
      </div>

      <div class="order-table-container">
        <div class="section-header">
          <h2 class="section-title">購入履歴</h1>
        </div>

        <div class="item-list-container">
          <div class="item-table">
            <%= render "orders/table", orders: @orders %>
          </div>
        </div>
      </div> 

    </div>
  </section>
</div>


<%= render "shared/footer" %>