<%# cssは商品出品のものを併用しています。
app/assets/stylesheets/items/form.css %>

<div class="create-listing-page">
  <div class="container">
    <div class="form-container">
      <header class="form-header">
        <div class="header-logo-section">
          <%= link_to image_tag('logo_2.svg', class: 'logo-icon'), root_path, class: 'logo-link' %>
        </div>
      </header>

      <div class="form-main">
        <h2 class="form-title">クーポンの情報を入力</h2>
        <%= form_with model: @coupon,  local: true do |f| %>
          <%= render 'shared/error_messages', model: f.object %>
          <div class="new-items">
            <div class="form-group">
              <div class="weight-bold-text">
                クーポン名 <span class="required-badge">必須</span>
              </div>
              <%= f.text_area :name, class: "items-text", id: "item-name", placeholder: "クーポン名（必須 40文字まで)", maxlength: "40" %>
            </div>
          </div>

          <div class="discount_rate">
            <div class="weight-bold-text question-text">
              <span>割引率<span class="required-badge">必須</span><br>(1〜100%)</span>
              <a class="question" href="#">?</a>
            </div>
            <div>
              <div class="price-content">
                <%= f.text_field :discount_rate, class: "price-input", id: "item-price", placeholder: "半角数字で入力" %>
              </div>
            </div>
          </div>

          <div class="expiration-date">
            <div class="weight-bold-text question-text">
              <span>有効期限 <span class="required-badge">必須</span></span>
            </div>
            <div>
              <%= f.date_field :expires_at, class: "date-input", id: "coupon-expires-at" %>
            </div>
          </div>


          <%# ボタンセクション %>
          <div class="form-actions">
            <%= f.submit "登録", class: "submit-button" %>
            <%= link_to 'もどる', coupons_path, class: "cancel-button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
