<header class="site-header">
  <div class="header-container">
    <div class="header-logo-section">
      <%= link_to image_tag('logo.svg', class: 'logo-icon'), root_path, class: 'logo-link' %>
    </div>

    <nav class="main-nav desktop-only">
      <% nav_items = [
        {'name': 'ホーム', 'href': root_path},
        {'name': 'カテゴリー', 'href': "#", 'has_dropdown': true, 'dropdown_items': []},
        {'name': '人気商品', 'href': "#"}
      ] %>

      <% nav_items.each do |item| %>
        <% if item[:has_dropdown] %>
          <div class="user-dropdown">
            <%= link_to item[:name], item[:href], class: "nav-link #{controller_name == item[:href].gsub('/', '') ? 'active' : ''}" %>
            <div class="dropdown-content">
              <% Category.all.each do |category| %>
                <%= link_to category.name, category_path(category_id: category.id), class: "user-admin category-link", id: "category_id_#{category.id}" %>
              <% end %>
            </div>
          </div>
        <% else %>
          <%= link_to item[:name], item[:href], class: "nav-link #{controller_name == item[:href].gsub('/', '') ? 'active' : ''}" %>
        <% end %>
      <% end %>
    </nav>

    <div class="header-actions desktop-only">
      <div class="search-container">
        <i class="fas fa-search"></i>
        <%= form_with url: search_path, method: :get, local: true, class: "search-form" do |form| %>
        <%# form_with url: search_items_path, method: :get, scope: nil, local: true, class: "search-form" do |form| %>
          <%= form.search_field :q, placeholder: "商品を検索...", class: "search-input" %>
          <%= form.submit "検索", class: "visually-hidden-submit-button" %>
        <% end %>
      </div>

      <div class="user-menu">
        <% if user_signed_in? %>
          <%# マイページ用のポイント表示 %>
          <% if request.path == mypage_path %>
            <div clas="mypage-point">
              <div class="mypage-point-icon">
                <i class="fab fa-product-hunt"></i>
                <div class="mypage-point-word">所有ポイント</div>
              </div>
              <div class="mypage-point-num">
                <%= point %> pt
              </div>
            </div>
          <% end %>

          <div class="user-dropdown">
            <%= link_to "#{current_user.nickname}さん", "#", class: 'user-nickname' %>
            <div class="dropdown-content">
              <%# 管理者ユーザー限定のプルダウンメニュー %>
              <% if current_user.admin? %>
                <%= link_to 'ユーザー管理', users_path, class: "user-admin" %>
                <%= link_to '商品管理', dashboard_items_path, class: "user-admin" %>
                <%= link_to 'クーポン管理', coupons_path, class: "user-admin" %>
                <%= link_to 'プロモーション管理', promotions_path, class: "user-admin" %>
                <%= link_to 'お知らせ管理', notices_path, class: "user-admin" %>
              <% end %>
              <%# 一般ユーザー限定のプルダウンメニュー %>
              <% if !current_user.admin? %>
                <%= link_to "マイページ", mypage_path, class: "logout" %>
              <% end %>
              <%# 共通のプルダウンメニュー %>
              <%= form_tag(destroy_user_session_path, method: :delete) do %>
                <%= button_tag 'ログアウト', class: "logout" %>
              <% end %>
            </div>
          </div>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path, class: "login" %>
          <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
        <% end %>
      </div>    
    </div>
  </div>

</header>
