<%= render "shared/second-header"%>

<%= form_with class: 'registration-main', local: true do |f| %>
<div class='form-container'>
  <div class='form-header'>
    <h1 class='form-title'>ログイン</h1>
    <p class="form-subtitle">アカウントにログインして、お買い物を続けましょう</p>
  </div>

  <div class='login-flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>

  <div class="form-section">
    <div class="form-group">
      <div class='weight-bold-text'>
        <label for="email">メールアドレス</label>
        <span class="required-badge">必須</span>
      </div>
      <%= f.email_field :email, class:"form-input", id:"email", placeholder:"メールアドレスを入力", autofocus: true %>
    </div>

    <div class="form-group">
      <div class='weight-bold-text'>
        <label for="password">パスワード</label>
        <span class="required-badge">必須</span>
      </div>
      <%= f.password_field :password, class:"form-input", id:"password", placeholder:"パスワードを入力" %>
    </div>

    <div class='action-button'>
      <%= f.submit "ログイン" ,class:"user-submit-button" %>
    </div>

    <div class="form-footer">
      <a href="#" class="forgot-link">パスワードをお忘れですか？</a>
      <a href="/users/sign_up" class="register-link">新規会員登録はこちら</a>
    </div>
  </div>
</div>
<% end %>

<%= render "shared/second-footer"%>