<%= render "shared/second-header" %>

<div class="container">
  <div class="card-layout">
    <div class="card-header">
      <h1 class="app-title">DemoEC ユーザー管理</h1>
    </div>

    <div class="user-list-container">
      <div class="user-list-header">
        <div>
          <h2 class="section-title">ユーザー一覧</h2>
          <p class="section-description">
            登録されているユーザーの一覧です。<%= @users.count %>人のユーザーが見つかりました。
          </p>
        </div>
      </div>

      <div class="user-table">
        <table>
          <thead>
            <tr>
              <th class="user-col">ユーザー</th>
              <th class="date-col">登録日</th>
              <th class="role-col">ロール</th>
              <th class="actions-col">アクション</th>
            </tr>
          </thead>
          <tbody>

            <% @users.each do |user| %>
              <tr>
                <td class="user-col">
                  <div class="user-info">
                    <div class="avatar">
                      <div class="avatar-fallback"></div>
                    </div>
                    <div class="user-details">
                        <span class="nickname"><%= user.nickname %></span>
                        <span class="email"><%= user.email %></span>
                    </div>
                  </div>
                </td>

                <td class="date-col">
                  <%= user.created_at.strftime("%Y-%m-%d") %>
                </td>

                <td class="role-col">
                  <span class="role-badge <%= user.admin? ? 'admin' : 'user' %>">
                    <%= user.admin? ? '管理者' : '一般ユーザー' %>
                  </span>
                </td>

                <td class="actions-col">
                  <%= link_to '退会', user_path(user),  data: { turbo_method: :delete, turbo_confirm: '本当に退会しますか？' } , class: "admin-action-button" %>
                </td>

              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
