<%= form_with model: @item, local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>

  <div class="img-upload">
    <div class="weight-bold-text">
      商品画像 <span class="required-badge">必須</span>
    </div>
    <div class="click-upload">
      <%= f.label :image, 'クリックしてファイルをアップロード', class: 'upload-label' %>
      <%= f.file_field :image, id: 'item-image', class: 'file-input', accept: "image/*" %>
    </div>
  </div>

  <div class="new-items">
    <div class="form-group">
      <div class="weight-bold-text">
        商品名 <span class="required-badge">必須</span>
      </div>
      <%= f.text_area :name, class: "items-text", id: "item-name", placeholder: "商品名（必須 40文字まで)", maxlength: "40" %>
    </div>

    <div class="form-group">
      <div class="items-explain">
        <div class="weight-bold-text">
          商品の説明 <span class="required-badge">必須</span>
        </div>
        <%= f.text_area :description, class: "items-text", id: "item-description", placeholder: "商品の説明（必須 1,000文字まで）", rows: "7", maxlength: "1000" %>
      </div>
    </div>
  </div>

  <div class="items-detail">
    <div class="weight-bold-text">商品の詳細</div>
    <div class="form-group">
      <div class="weight-bold-text">
        カテゴリー <span class="required-badge">必須</span>
      </div>
      <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: '---' }, { class: 'select-box', id: 'item-category' } %>
    </div>

    <div class="form-group">
      <div class="weight-bold-text">
        商品の状態 <span class="required-badge">必須</span>
      </div>
      <%= f.collection_select :condition_id, Condition.all, :id, :name, { prompt: '---' }, { class: 'select-box', id: 'item-condition' } %>
    </div>
  </div>

  <div class="sell-price">
    <div class="weight-bold-text question-text">
      <span>販売価格<br>(¥300〜9,999,999)</span>
      <a class="question" href="#">?</a>
    </div>
    <div class="price-content">
      <div class="price-text">
        <span>価格</span> <span class="required-badge">必須</span>
      </div>
      <span class="sell-yen">¥</span>
      <%= f.text_field :price, class: "price-input", id: "item-price", placeholder: "半角数字で入力" %>
    </div>
  </div>

  <div class="form-actions">
    <%# f.submit "出品する", class: "submit-button" %>
    <%= f.submit @item.persisted? ? "更新" : "出品する", class: "submit-button" %>
    <%= link_to 'もどる', dashboard_items_path, class: "cancel-button" %>
  </div>
<% end %>
