<%= render "shared/header" %>

<div class="home-page">
  <section class="hero-section">
    <div class="hero-image-container">
      <div class="hero-overlay"></div>
      <div class="hero-content">
        <h1 class="hero-title"> あなたの生活を彩る、<br> 特別なアイテム</h1>
        <p class="hero-description">
          DemoECで、あなただけの特別な商品を見つけましょう。高品質な商品を手頃な価格で。
        </p>
      </div>
    </div>
  </section>
  <%= render partial: 'promotions/banner_scroll', locals: { promotions: @promotions } %>
  <%= render "products", items: @items, title: "新着商品", show_link: true %>
  <%= render "notices/notices", notices: @notices, title: "お知らせ"%>
</div>

<%= render "shared/footer" %>