<%# cssは商品出品のものを併用しています。
app/assets/stylesheets/items/form.css %>

<div class="create-listing-page">
  <div class="container">
    <div class="form-container">
      <header class="form-header">
        <div class="header-logo-section">
          <%= link_to image_tag('logo.svg', class: 'logo-icon'), root_path, class: 'logo-link' %>
        </div>
      </header>

      <div class="form-main">
        <h2 class="form-title">商品の情報を入力</h2>
        <%= form_with model: @item,  local: true do |f| %>

        <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
        <%# render 'shared/error_messages', model: f.object %>
        <%# //インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>

          <div class="img-upload">
            <div class="weight-bold-text">
              商品画像 <span class="required-badge">必須</span>
            </div>
            <div class="click-upload">
              <%= f.label :image, 'クリックしてファイルをアップロード', class: 'upload-label' %>
              <%= f.file_field :hoge, id: 'item-image', class: 'file-input' %>
            </div>
          </div>

          <div class="new-items">
            <div class="form-group">
              <div class="weight-bold-text">
                商品名 <span class="required-badge">必須</span>
              </div>
              <%= f.text_area :hoge, class: "items-text", id: "item-name", placeholder: "商品名（必須 40文字まで)", maxlength: "40" %>
            </div>
            <div class="form-group">
              <div class="items-explain">
                <div class="weight-bold-text">
                  商品の説明 <span class="required-badge">必須</span>
                </div>
                <%= f.text_area :hoge, class: "items-text", id: "item-description", placeholder: "商品の説明（必須 1,000文字まで）", rows: "7", maxlength: "1000" %>
              </div>
            </div>
          </div>

          <div class="items-detail">
            <div class="weight-bold-text">商品の詳細</div>
            <div class="form-group">
              <div class="weight-bold-text">
                カテゴリー <span class="required-badge">必須</span>
              </div>
              <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: '---' }, { class: 'select-box', id: 'item-category' } %>
            </div>
            <div class="form-group">
              <div class="weight-bold-text">
                商品の状態 <span class="required-badge">必須</span>
              </div>
              <%= f.collection_select :condition_id, Condition.all, :id, :name, { prompt: '---' }, { class: 'select-box', id: 'item-category' } %>
            </div>
          </div>

          <div class="sell-price">
            <div class="weight-bold-text question-text">
              <span>販売価格<br>(¥300〜9,999,999)</span>
              <a class="question" href="#">?</a>
            </div>
            <div>
              <div class="price-content">
                <div class="price-text">
                  <span>価格</span> <span class="required-badge">必須</span>
                </div>
                <span class="sell-yen">¥</span>
                <%= f.text_field :hoge, class: "price-input", id: "item-price", placeholder: "半角数字で入力" %>
              </div>
            </div>
          </div>

          <%# ボタンセクション %>
          <div class="form-actions">
            <%= f.submit "出品する", class: "submit-button" %>
            <%# 管理者出品一覧ページに遷移できるようにしましょう。%>
            <%= link_to 'もどる', "#", class: "cancel-button" %>
            <%# //管理者出品一覧ページに遷移できるようにしましょう。%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
