<%= form_with model: @promotion, local: true, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages', model: f.object %>

  <div class="img-upload">
    <div class="weight-bold-text">
      プロモーション画像 <span class="required-badge">必須</span>
    </div>
    <div class="click-upload">
      <% if @promotion.image.attached? %>
        <%= f.label :image, 'クリックしてファイルを再アップロード', class: 'upload-label' %><br>
        <%= f.file_field :image, id: 'item-image', class: 'file-input' %>
      <% else %>
        <%= f.label :image, 'クリックしてファイルをアップロード', class: 'upload-label' %><br>
        <%= f.file_field :image, id: 'item-image', class: 'file-input' %>
      <% end %>
    </div>
  </div>

  <div class="new-items">
    <div class="form-group">
      <div class="weight-bold-text">
        プロモーション名 <span class="required-badge">必須</span>
      </div>
      <%= f.text_area :title, class: "items-text", id: "item-name", placeholder: "プロモーション名（必須 40文字まで)", maxlength: "40" %>
    </div>

    <div class="form-group">
      <div class="items-explain">
        <div class="weight-bold-text">
          プロモーションの内容 <span class="required-badge">必須</span>
        </div>
        <%= f.text_area :content, class: "items-text", id: "item-description", placeholder: "プロモーションの説明（必須 1,000文字まで）", rows: "7", maxlength: "1000" %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit @promotion.persisted? ? "更新" : "登録する", class: "submit-button" %>
    <%= link_to 'もどる', promotions_path, class: "cancel-button" %>
  </div>
<% end %>

