<!DOCTYPE html>
<html>
  <head>
    <title>DemoEC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript" src="https://js.pay.jp/v2/pay.js"></script>
    <%= stylesheet_link_tag 'application', 'items/form', 'items/show.css', media: 'all'%>
    <%= javascript_importmap_tags  'application' %>
    <%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.15.4/css/all.css', media: 'all' %>
    <link href="https://cdn.jsdelivr.net/npm/nouislider@15.7.0/dist/nouislider.min.css" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
